@media(max-width:1000px) {
    .all {
        display: none;
    }

    .rect {
        background-image: url(mobileframe.png);
        width: 90vw;
        left: 5vw;
        height: 90vh;
        top: 3vh;
    }

    .rect1 {
        background-image: url(mobileframe.png);
        width: 90vw;
        left: 5vw;
        height: 90vh;
        top: 3vh;
    }

    .head {
        top: 7vh;
    }

    .box1 {
        width: 18vw;
        left: 23vw;
    }

    .box2 {
        width: 18vw;
        left: 58vw;
    }

    .box3 {
        width: 18vw;
        left: 23vw;

    }

    .box4 {
        width: 18vw;
        left: 58vw;

    }

    .box5{
        height: 20vh;
        width: 18vw;
        left: 20.5vw;
        top: 15vh;
    }

    .name {
        font-size: 18px;
    }

    .links {
        padding-top: 3px;
        left: 5vw;
    }

    .mobile {
        display: block;
        background: url(iPhone.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        width: 100vw;

    }

    /* .brickflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
    gap: 7vh;
} */

    .brickflex1 {
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20vw;
    }

    .brickflex2 {
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 20vw;
    }

    #brickm1,
    #brickm2,
    #brickm3,
    #brickm4 {
        height: 15vh;
        position: relative;
    }

    #iconm1 img,
    #iconm2 img,
    #iconm3 img,
    #iconm4 img {
        height: 13vh;
        width: 10vw;
    }

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        position: absolute;
        left: 8vw;
        bottom: 6vh;
    }
}

@media(max-width:900px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 10vw;
        bottom: 5vh;
    }
}

@media(max-width:800px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 10.5vw;
    }

    .box3 {
        margin-top: 2vh;
    }

    .box4 {
        margin-top: 2vh;
    }
}

@media(max-width:700px) {

    .brickflex1 {
        flex-direction: column;
        gap: 7vw;
        padding-top: 10vh;
        justify-content: center;
        align-items: center;
    }

    .brickflex2 {
        padding-top: 7vh;
        flex-direction: column;
        gap: 7vw;
        justify-content: center;
        align-items: center;

    }

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 14vw;
    }

    .name {
        padding-top: 3px;
    }

}

@media(max-width:650px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 16vw;
    }

    #iconm1 img,
    #iconm2 img,
    #iconm3 img,
    #iconm4 img {
        height: 15vh;
        width: 12vw;
    }

    .links {
        left: 4vw;
    }
}

@media(max-width:600px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 17vw;
    }

    .box1{
        left: 20vw;
        top: 20vh;
    }
    .box2{
        left: 61vw;
        top: 20vh;
    }
    .box3{
        left: 20vw;
        top: 54vh;
    }
    .box4{
        left: 61vw;
        top: 54vh;
    }

    .name{
        width: 20vw;
    }

    .links{
        left: 3vw;
    }


}

@media(max-width:550px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 19vw;
    }
}

@media(max-width:500px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 20vw;
        bottom: 2vh;
    }

    #iconm1 img,
    #iconm2 img,
    #iconm3 img,
    #iconm4 img {
        height: 17vh;
        width: 14vw;
    }
}

@media(max-width:450px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 23vw;
        bottom: 0.5vh;
    }

    #iconm1 img,
    #iconm2 img,
    #iconm3 img,
    #iconm4 img {
        height: 21vh;
        width: 17vw;
    }

    .box1 {
        width: 22vw;
        left: 18vw;
    }

    .box2 {
        width: 22vw;
        left: 61vw;
    }

    .box3 {
        width: 22vw;
        left: 18vw;

    }

    .box4 {
        width: 22vw;
        left: 61vw;

    }

    .head{
        font-size: 1.5em;
    }

    
}

@media(max-width:400px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 25vw;
        bottom: 0.2vh;
    }

    #iconm1 img,
    #iconm2 img,
    #iconm3 img,
    #iconm4 img {
        height: 21vh;
        width: 19vw;
    }
}

@media(max-width:300px) {

    #iconm1,
    #iconm2,
    #iconm3,
    #iconm4 {
        left: 35vw;
        bottom: -1vh;
    }
}